<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="pro.pushpro.app"><application><activity android:name=".ui.settings.WebhookSettingsActivity"/><activity android:name=".ui.settings.EmailSettingsActivity"/><activity android:name=".ui.settings.TelegramSettingsActivity"/></application></manifest>